body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(81, 81, 220);
    padding: 20px 0;
    margin: 0;
    width: 100%;
}

#header-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#header {
    padding: 0 20px;
    font-size:x-large;
    color: whitesmoke;
}

#time_div {
    margin-left: auto;
    padding: 0 20px;
    font-size: large;
    color: whitesmoke;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin: 20px 0;

    .card {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin: 15px;
        background-color: rgb(223, 218, 218);
        border-radius: 10px;
        font-size: xx-large;

        div {
            margin: 10px 5px;
        }
    }
}

@media only screen (max-width: 499px) {
    header {
        padding: 10% 0;
    }

    #header {
        padding: 0 20px;
        font-size: 45px;
    }

    #head-icon {
        height: 60px;
    }

    #container {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
        margin: 20px 20%;

        .card {
            justify-content: space-between;
            align-items: center;
            padding: 20px 20px;
            margin: 20% 40px;
            border-radius: 20px;
        }

        #temp-val, #atm-val {
            font-size: 40px;
        }

        #temp-icon, #atm-icon {
            height: 100px;
        }

    }
}
