<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <header>
            <div id="header-container">
                <div>
                    <img id="head-icon" src="{{ url_for('static', filename='iot.png') }}" height="40px">
                </div>
                <div id="header">Weather Dashboard</div>
            </div>
            <div id="time_div"></div>
        </header>
        
        <div id="container">
            <div class="card">
                <div>
                    <img id="temp-icon" src="{{ url_for('static', filename='room-temperature.png') }}" height="80px">
                </div>
                <div id="temp-val">
                    30°C
                </div>
            </div>
            <div class="card">
                <div>
                    <img id="atm-icon" src="{{ url_for('static', filename='pressure-gauge.png') }}" height="80px">
                </div>
                <div id="atm-val">
                    1017.15 hPa
                </div>
            </div>
        </div>

        <footer></footer>
    </body>
</html>
